.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

body {
  font: 10px sans-serif;
}

svg {
  padding: 5px 0 0 5px;
}

.arc {
  stroke: #fff;
  stroke-width: 0px;
}

.text {
  stroke: black;
  stroke-width: 0.5px;
  font-size: 15px;
}
